* {
  border-radius: 10px;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
}

html {
  background: #111;
  font-size: 16px;
  margin-top: 3em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: rgb(75, 1, 65);
}

p {
  padding-top: 1.5em;
}

header,
main,
footer {
  background: #eee;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

header {
  padding: 1.618em 0;
  padding-left: 1.618em;
}

header h1 {
  font-size: 3em;
}

nav {
  background: #333;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

nav a {
  color: #fff;
  padding: 0.309em 2em;
  text-decoration: none;
}

nav a:hover {
  background: rgba(180, 254, 190);
  border: 1px solid darkorange;
  border-radius: 1rem;
  box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
  color: #000;
  transition: 0.5s;
}

section {
  margin: 1em 0;
  min-height: 20em;
  padding-top: 3em;
}

section > p {
  margin: 1em 0;
}

section ul {
  color: blueviolet;
  list-style-type: none;
  padding-left: 1.5em;
}

section ol {
  color: darkorange;
  list-style-type: none;
  padding-left: 1.5em;
}

.portfolioPicture {
  border-radius: 8px;
  box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  height: auto;
  margin-top: 10px;
  width: 90%;
  -webkit-box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
  -moz-box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
}

.aboutMe {
  display: flex;
  justify-content: space-between;
}

#contactInformation {
  text-align: center;
}

.contact__information_list {
  color: #000;
  padding-bottom: 1.618em;
}

.fa {
  background: grey;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 2rem;
}

.fa-linkedin {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.fa-github {
  position: fixed;
  bottom: 0;
  right: 2rem;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.projects__title {
  text-align: center;
}

#projects {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.projects__column_figure {
  text-align: center;
}

#projects article {
  background: #ccc;
  padding: 1em;
}

#projects article img {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
  height: auto;
  margin-top: 10px;
  width: 100%;
  -webkit-box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
  -moz-box-shadow: -4px 6px 5px 0px rgba(75, 1, 65, 0.75);
}

.projects__column_button {
  background: #222;
  border-radius: 5px;
  bottom: 0.5rem;
  color: rgb(1, 253, 253);
  margin: 0px;
  opacity: 0;
  position: relative;
  transition: opacity 0.5s ease-out;
  transition: 1s;
}

.projects__column_figure:hover .projects__column_button {
  bottom: 2.5rem;
  opacity: 0.8;
}

.projects__column {
  padding-left: 0.5rem;
}

.projects__column_title {
  text-align: center;
}

.projects__column_image {
  text-align: center;
  height: auto;
  max-width: 100%;
}

footer {
  background: #555;
  color: #fff;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 1em 0;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .profile {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #myProjects {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
